@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.architects-daughter-regular {
  font-family: "Architects Daughter", cursive;
  font-weight: 400;
  font-style: normal;
}
.container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #c7c7c7;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}


.change .bar2 {opacity: 0;}


.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.logo {
  margin-left: auto;
  margin-right: auto;
height: 200px;
cursor: pointer;
  display: block;
}
html,
body {
  padding: 0;
  margin: 50;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
  background-image: url("");
   background-repeat: no-repeat;
   background-size: cover;
  background-color: #49594f;

  html {
    scroll-behavior: smooth;
  }

.mailingList {
  display: flex;
  align-items: center;
  background-color: #c7c7c7; 
  padding: 8px;
  border-radius: 20px; 
  box-shadow: 0 4px 8px #333; 
  max-width: 600px; 
  margin: 20px auto; 
  font-family: "Architects Daughter", cursive;
  font-weight: 400;
  font-style: normal;
  }

  
.mailingList button:hover {
  background-color: #969d85;
  
}
.mailingList button{
  padding: 15px 20px;
  border: none;
  background-color: #49594f; 
  color: #ffffff;
  border-radius: 0 20px 20px 0; 
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.mailingList input[type="email"] {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 20px 0 0 20px; 
  background-color: #c7c7c7; 
  color: #333; 
  outline: none;
  flex-grow: 1; 
  font-size: 20px;
  font-family: "Architects Daughter", cursive;
  font-weight: 400;
  font-style: normal;
  }
p {
  width: 900px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #333;
  font-family: "Architects Daughter", cursive;
  flex-grow: 1; 
  font-size: 20px;
}
.description {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 900px; 
  height: 140px; 
  border-radius: 10px; 
  background-color: #c7c7c7;
 
}
.advertisement {
width: 600px;
margin: auto;
padding: 10px;
}

.gallery-title {
  text-align: center;
  font-size: 40px;
  color: #c7c7c7;
  margin-top: 20px;
  font-family: "Architects Daughter", cursive;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.cake-image {
  width: 40%; 
  margin: 10px;
  border: 5px solid #c7c7c7; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cake-image:hover {
  transform: scale(1.02); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}
  }
  .google-map {
    padding-bottom: 50%;
    position: relative;
    
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}
.dropbtn {
  background-color: #49594f;
  color: #c7c7c7;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #c7c7c7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ffffff;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #4d664d;}
